.container-root {
  width: 696px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: rgb(48, 52, 54);
}

.decade-toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 123px;
  margin-bottom: 40px;
}

.spinner {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.list-root {
  height: 75vh;
  overflow-y: auto;
}

.card-root {
  background: rgb(232, 235, 238);
  border: 2px solid rgb(48, 52, 54);
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-content {
  display: flex;

  img {
    width: 140px;
    height: 208px;
    margin-right: 25px;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      font-family: "OpenSans-Regular";
      font-size: 24px;
      border-bottom: 1px solid rgb(141, 152, 158);
    }

    .film-info {
      display: flex;
      font-size: 14px;
      line-height: 18px;
      align-items: baseline;

      .rating {
        text-align: center;
        margin-top: 4px;
        margin-right: 16px;
        width: 58px;
        border: 1px solid rgb(141, 152, 157);
        border-radius: 4px;
        font-family: "Courier New", Courier, monospace;
        color: rgb(141, 152, 157);
      }

      .runtime {
        flex-grow: 1;
      }
    }

    .plot {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      margin-top: 13px;
      flex-grow: 1;
    }

    .view-button {
      background-color: rgb(249, 180, 74);
      align-self: flex-end;
      width: 193px;
      color: white;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
