.container-root {
  width: 696px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: rgb(48, 52, 54);
}

.decade-toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 123px;
  margin-bottom: 40px;
}

.list-root {
  height: 75vh;
  overflow-y: auto;
}

.card-root {
  background: rgb(232, 235, 238);
  border: 2px solid rgb(48, 52, 54);
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-content {
  display: flex;

  img {
    width: 140px;
    height: 208px;
    margin-right: 25px;
  }

  .movie-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      font-family: "OpenSans-Regular";
      font-size: 24px;
      border-bottom: 1px solid rgb(141, 152, 158);
    }
  }
}
