.container-root {
  width: 696px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.decade-toggle {
  display: flex;
  justify-content: flex-end;
  margin-top: 123px;
  margin-bottom: 40px;
}
